@import '../../globalstyles/variables.scss';

.card {
  background-color: $color-card-background;
  border-radius: $border-radius;
  box-shadow: $shadow-base;
  box-sizing: border-box;
  margin: $spacing-standard 0;
  padding: $spacing-standard;
  position: relative;

  &.card-with-token {
    display: flex;
  }
}

.card-link {
  text-decoration: none;
}
