{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "consistent-return": "error",
    "eqeqeq": "error",
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "@typescript-eslint/no-explicit-any": "off"
  },
  "ignorePatterns": [
    "src/**/*.test.ts"
  ]
}