{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "consistent-return": "error",
    "eqeqeq": "error",
    "indent": ["error", 2],
    "no-console": "error"
  },
  "ignorePatterns": [
    "src/**/*.test.ts"
  ]
}