@import '../../globalstyles/variables.scss';

.wiki-item {
  box-shadow: $box-shadow-light;
  display: block;
  height: 200px;
  overflow-y: hidden;
  position: relative;
  text-align: center;
  transition: box-shadow $hover-transition;
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: $standard-spacing;
  }

  &:hover {
    box-shadow: $box-shadow-heavy;
  }

  img {
    left: 0;
    position: absolute;
    top: 0;
    width: 1000px;
    z-index: 1;
  }

  .wiki-item-content {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    content: '';
    height: 200px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    h2 {
      margin: 0;
      position: relative;
      text-shadow: $box-shadow-heavy;
      top: 84px;
    }
  }

  .wiki-item-tags {
    margin-left: $standard-spacing;
  }
}