@import '../../globalstyles/variables.scss';

.toast {
  background-color: $faded-white;
  border-radius: 5px;
  box-shadow: $box-shadow-heavy;
  box-sizing: border-box;
  color: $dark-black;
  font-weight: 900;
  height: 100px;
  margin: $standard-spacing;
  padding: $standard-spacing;
  width: 250px;
}

.toast-error {
  background-color: $red;
  color: $dark-black;
}

.toast-info {
  background-color: $green;
  color: $dark-black;
}

.toast-warn {
  background-color: $yellow;
  color: $dark-black;
}
