@import './variables';
@import './actiontext';

.column {
  width: $column-width;
}

.full {
  width: 100%;
}

.layout {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: $layout-width;
}

.page-header {
  display: flex;
  position: relative;

  img {
    margin-right: $standard-spacing;
  }
}

.page-header-settings {
  position: absolute;
  right: 0;
  top: 0;
}

.bulletless-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item:not(:last-of-type) {
  border-bottom: $border-standard;
}

body {
  margin: 0 0 100px 0;
  padding-top: 50px;
}

html {
  margin: 0;
}

html, body {
  background-color: $light-black;
  color: $faded-white;
  font-family: Roboto, sans-serif;
  font-size: $body-text-size;
  line-height: 1.5;
}

a {
  color: $true-white;
}

h1 {
  color: $true-white;
}

h2 {
  color: $true-white;
}

h3 {
  color: $true-white;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: $standard-spacing;
}

footer {
  align-items: center;
  background-color: $dark-black;
  bottom: 0;
  box-sizing: border-box;
  box-shadow: $box-shadow-light;
  display: flex;
  height: 70px;
  padding: $standard-spacing;
  position: fixed;
  width: 100%;
}

/* stylelint-disable-next-line string-quotes */
input[type="number"], input[type="text"], select, textarea {
  background-color: $dark-black;
  border: solid $dark-black 1px;
  box-shadow: $box-shadow-field;
  color: $true-white;
  margin-bottom: $small-spacing;
  padding: $small-spacing;
}

nav {
  align-items: center;
  background-color: $dark-black;
  box-sizing: border-box;
  box-shadow: $box-shadow-light;
  display: flex;
  justify-content: space-between;
  margin-bottom: $standard-spacing;
  padding: 0 $standard-spacing;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav ul {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 60px;
}

nav ul li {
  margin-right: $standard-spacing;
}

nav ul li a {
  color: $true-white;
}

strong {
  color: $true-white;
}

table {
  background-color: $dark-black;
  border-collapse: collapse;
  border-radius: $border-radius;
  box-shadow: $box-shadow-light;
  margin: $standard-spacing 0;
  width: 100%;

  th {
    border-bottom: $border-standard;
    color: $true-white;
    padding: $small-spacing;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    border-bottom: $border-standard;
    padding: $small-spacing;

    a {
      margin-right: $small-spacing;
    }
  }

  tr:last-of-type td {
    border: none;
  }
}
