@import './variables';
@import './actiontext';

.button {
  background: transparent;
  border: solid 2px $faded-white;
  border-radius: $border-radius;
  color: $faded-white;
  cursor: pointer;
  padding: $small-spacing;
  text-decoration: none;

  & + & {
    margin-left: $small-spacing;
  }

  &:active,
  &:focus,
  &:hover {
    background-color: $faded-white;
    color: $back-background;
  }

  &.button-blue {
    border: solid 2px $blue;
    color: $blue;

    &:active,
    &:focus,
    &:hover {
      background-color: $blue;
      color: $faded-white;
    }
  }

  &.button-green {
    border: solid 2px $green;
    color: $green;

    &:active,
    &:focus,
    &:hover {
      background-color: $green;
      color: $faded-white;
    }
  }

  &.button-red {
    border: solid 2px $red;
    color: $red;

    &:active,
    &:focus,
    &:hover {
      background-color: $red;
      color: $faded-white;
    }
  }
}

.column {
  width: $column-width;
}

.full {
  width: 100%;
}

.layout {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: $layout-width;
}

.page-header {
  display: flex;
  position: relative;

  img {
    margin-right: $standard-spacing;
  }
}

.page-header-settings {
  position: absolute;
  right: 0;
  top: 0;
}

.bulletless-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item:not(:last-of-type) {
  border-bottom: $border-standard;
}

body {
  margin: 0 0 100px;
  padding-top: 100px;
}

html {
  margin: 0;
}

html, body {
  background-color: $back-background;
  color: $faded-white;
  font-family: Roboto, sans-serif;
  font-size: $body-text-size;
  line-height: 1.5;
}

a {
  color: $faded-white;
}

h1 {
  color: $faded-white;
}

h2 {
  color: $faded-white;
}

h3 {
  color: $faded-white;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: $standard-spacing;
}

footer {
  align-items: center;
  background-color: $card-background;
  bottom: 0;
  box-sizing: border-box;
  box-shadow: $box-shadow-light;
  display: flex;
  height: 70px;
  padding: $standard-spacing;
  position: fixed;
  width: 100%;
  z-index: 10;

  > * {
    margin-right: $small-spacing;
  }
}

/* stylelint-disable-next-line string-quotes */
input[type="number"], input[type="password"], input[type="text"], select, textarea {
  background-color: $card-background;
  border: solid $card-background 1px;
  box-shadow: $box-shadow-field;
  color: $faded-white;
  margin-bottom: $small-spacing;
  padding: $small-spacing;
}

strong {
  color: $faded-white;
}

table {
  background-color: $card-background;
  border-collapse: collapse;
  border-radius: $border-radius;
  box-shadow: $box-shadow-light;
  margin: $standard-spacing 0;
  width: 100%;

  td {
    border-bottom: $border-standard;
    padding: $small-spacing;

    a {
      margin-right: $small-spacing;
    }
  }

  th {
    border-bottom: $border-standard;
    color: $faded-white;
    padding: $small-spacing;
    text-align: left;
    text-transform: uppercase;
  }

  tr:last-of-type td {
    border: none;
  }
}

nav {
  align-items: center;
  background-color: $card-background;
  box-sizing: border-box;
  box-shadow: $box-shadow-light;
  display: flex;
  justify-content: space-between;
  margin-bottom: $standard-spacing;
  padding: 0 $standard-spacing;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  a {
    color: $faded-white;
    text-decoration: none;
  }

  ul {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 60px;

    li {
      margin-right: $standard-spacing;
    }
  }
}
