@import './variables';

.button {
  background: transparent;
  border: solid 2px $color-button-border;
  border-radius: $border-radius;
  color: $color-button-text;
  cursor: pointer;
  padding: $spacing-small;
  text-decoration: none;

  & + & {
    margin-left: $spacing-small;
  }

  &:active,
  &:focus,
  &:hover {
    background-color: $color-button-background-hover;
    color: $color-back-background;
  }

  &.button-blue {
    border: solid 2px $blue;
    color: $blue;

    &:active,
    &:focus,
    &:hover {
      background-color: $blue;
      color: $color-button-text-hover
    }
  }

  &.button-green {
    border: solid 2px $green;
    color: $green;

    &:active,
    &:focus,
    &:hover {
      background-color: $green;
      color: $color-button-text-hover;
    }
  }

  &.button-red {
    border: solid 2px $red;
    color: $red;

    &:active,
    &:focus,
    &:hover {
      background-color: $red;
      color: $color-button-text-hover;
    }
  }
}

.column {
  width: $sizing-column-width;
}

.full {
  width: 100%;
}

.layout {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: $sizing-layout-width;
}

.page-header {
  display: flex;
  position: relative;

  img {
    margin-right: $spacing-standard;
  }
}

.page-header-settings {
  position: absolute;
  right: 0;
  top: 0;
}

.bulletless-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  padding: $spacing-small 0;
}

.item + .item{
  border-top: $border-standard;
}

body {
  margin: 0 0 100px;
  padding-top: 100px;
}

html {
  margin: 0;
}

html, body {
  background-color: $color-back-background;
  color: $color-text;
  font-family: $font-family-sans-serif;
  font-size: $font-size-body-text;
  line-height: 1.5;
}

h1 {
  font-size: $font-size-heading-one;
  font-family: $font-family-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
}

h2 {
  color: $color-heading;
  font-family: $font-family-serif;
  font-size: $font-size-heading-two;
  font-weight: normal;
  line-height: normal;
  margin: $spacing-standard 0;
  padding: 0;
}

h3 {
  color: $color-heading;
  font-family: $font-family-serif;
  font-size: $font-size-heading-three;
  font-weight: normal;
  line-height: normal;
  margin: $spacing-standard 0;
  padding: 0;
}

h4 {
  color: $color-heading;
  font-family: $font-family-serif;
  font-size: $font-size-heading-four;
  font-weight: normal;
  line-height: normal;
  margin: $spacing-standard 0;
  padding: 0;
}

a {
  color: $color-text;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0 0 $spacing-standard 0;
  padding: 0;
}

footer {
  align-items: center;
  background-color: $color-footer-background;
  bottom: 0;
  box-sizing: border-box;
  box-shadow: $shadow-base;
  color: $color-footer-text;
  display: flex;
  height: 70px;
  padding: $spacing-standard;
  position: fixed;
  width: 100%;
  z-index: 10;

  > * {
    margin-right: $spacing-small;
  }
}

/* stylelint-disable-next-line string-quotes */
input[type="number"], input[type="password"], input[type="text"], select, textarea {
  background-color: $color-field-background;
  border: solid $color-field-border 1px;
  box-shadow: $shadow-field;
  margin-bottom: $spacing-small;
  padding: $spacing-standard;
}

nav {
  align-items: center;
  background-color: $color-navbar-background;
  box-sizing: border-box;
  box-shadow: $shadow-base;
  color: $color-navbar-text;
  display: flex;
  font-size: 14px;
  font-family: $font-family-serif;
  justify-content: space-between;
  margin-bottom: $spacing-standard;
  padding: 0 $spacing-standard;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  a {
    color: $color-navbar-text;
  }

  ul {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 60px;

    li {
      margin-right: $spacing-standard;
    }
  }
}

p {
  margin: 0 0 $spacing-small 0;
}

p:last-child {
  margin: 0;
}

table {
  background-color: $color-card-background;
  border-collapse: collapse;
  border-radius: $border-radius;
  box-shadow: $shadow-base;
  margin: 0 0 $spacing-standard 0;
  width: 100%;

  td {
    border-bottom: $border-standard;
    padding: $spacing-small;

    a {
      margin-right: $spacing-small;
    }
  }

  th {
    border-bottom: $border-standard;
    padding: $spacing-small;
    text-align: left;
    text-transform: uppercase;
  }

  tr:last-of-type td {
    border: none;
  }
}
