// COLORS

$card-background: #020814;
$back-background: #121b2c;
$true-black: #000000;
$faded-white: #ccdaff;
$true-white: #ffffff;
$blue: #4da1c0;
$green: #00a59a;
$red: #bf4d4c;
$yellow: #e5820e;

// BORDERS

$border-standard: 1px $back-background solid;
$border-light: 1px $true-white solid;

// BOX SHADOWS

$box-shadow-heavy: 0 10px 10px $true-black;
$box-shadow-field: inset 0 0 5px $true-black;
$box-shadow-light: 0 0 5px $true-black;

// FONT SIZES

$small-text-size: 12px;
$body-text-size: 16px;

// SIZES

$small-spacing: 10px;
$standard-spacing: 20px;
$border-radius: 5px;
$border-radius-circle: 50%;
$token-size-small: 100px;
$token-size-standard: 200px;
$column-width: 470px;
$layout-width: 1000px;

// TRANSITIONS

$hover-transition: 0.3s;
