// BORDER

$border-standard: 1px #dddddd solid;

// BORDER RADIUS

$border-radius: 8px;
$border-radius-circle: 50%;

// COLORS

$color-back-background: #eeeeee;

$color-button-background-hover: #ffffff;
$color-button-border: #ffffff;
$color-button-text: #ffffff;
$color-button-text-hover: #ffffff;

$color-button-constructive-background-hover: #00a59a;
$color-button-constructive-border: #00a59a;
$color-button-constructive-text: #00a59a;
$color-button-constructive-text-hover: #ffffff;

$color-button-destructive-background-hover: #740b0b;
$color-button-destructive-border: #740b0b;
$color-button-destructive-text: #740b0b;
$color-button-destructive-text-hover: #ffffff;

$color-button-primary-background-hover: #4da1c0;
$color-button-primary-border: #4da1c0;
$color-button-primary-text: #4da1c0;
$color-button-primary-text-hover: #ffffff;

$color-card-background: #ffffff;

$color-field-background: #ffffff;
$color-field-border: #cccccc;

$color-footer-background: #222222;
$color-footer-text: #ffffff;

$color-heading: #740b0b;

$color-navbar-background: #222222;
$color-navbar-text: #ffffff;

$color-proficient: #00a59a;

$color-text: #222222;

// FONT FAMILIES

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Cinzel', serif;

// FONT SIZE

$font-size-body-text: 16px;
$font-size-heading-one: 18px;
$font-size-heading-two: 36px;
$font-size-heading-three: 24px;
$font-size-heading-four: 18px;

// SHADOWS

$shadow-base: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
$shadow-field: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.5);

// SIZING

$sizing-column-width: 600px;
$sizing-layout-width: 1220px;

// SPACING

$spacing-small: 8px;
$spacing-standard: 20px;

// TOKEN
$token-size-small: 100px;
$token-size-standard: 200px;
