<div class="layout">
  <div class="full">
    <h1>Monster Settings</h1>
    <a class="button" href="">Features</a>
    <a class="button" href="">Actions</a>
    <a class="button" href="">Legendary Actions</a>
    <a class="button" href="">Lair Actions</a>
    <a class="button" href="">Regional Effects</a>
    <a class="button" href="">Spells</a>
    <h2><%= @monster.name %></h2>
    <a class="button" href="<%= monster_path @monster %>">Back</a>
    <%= render partial: "shared/creature-form", locals: { creature: @monster, form_url: monster_path(@monster) } %>
    <%= button_to "Delete", { :controller => :monsters, :action => 'destroy', :id => @monster.id }, :class => 'button button-destructive', :method => :delete %>
  </div>
</div>