@import '../../globalstyles/variables.scss';

.toggle-item {
  padding: $spacing-small 0;

  .toggle-item-title {
    margin: 0;
  }

  .toggle-item-title-open {
    margin-bottom: $spacing-standard;
  }
}

.toggle-item:not(:last-of-type) {
  border-bottom: $border-standard;
}

.toggle-header {
  cursor: pointer;

  svg {
    margin-right: $spacing-small;
    vertical-align: middle;
  }
}
