@import '../../globalstyles/variables.scss';

.token {
  border-radius: $border-radius-circle;
  height: $token-size-standard;
  width: $token-size-standard;
}

.token-small {
  border-radius: $border-radius-circle;
  height: $token-size-small;
  margin-right: $spacing-standard;
  width: $token-size-small;
}
