<div class="layout">
  <div class="full">
    <h1>Monsters</h1>
    <a class="button" href="<%= creatures_path %>">Back</a>
    <%= render partial: 'show_creatures', locals: { creatures: @creatures } %>
  </div>
</div>