<div class="layout">
  <div class="full">
    <h1>New Creature</h1>
    <a class="button" href="<%= creatures_path %>">Back</a>
    <%= render partial: 'form', locals: { creature: @creature, form_url: creatures_path } %>
  </div>
</div>