@import '../../globalstyles/variables.scss';

.pet-and-associate-link {
  display: block;
  text-decoration: none;

  &:hover {
    background-color: $color-back-background;
  }
}

.pet-and-associate-link-content {
  align-items: center;
  display: flex;
  padding: $spacing-small;
  width: 100%;
}
