<div class='dice-roller-component'>
  <form  autocomplete="off" class="dice-roller-component-form">
    <fieldset>
      <input class="dice-roller-component-input" id="dice-roller-component-input" name="dice-roller-component-input" type="text"/>
      <p>Roll: <span class="dice-roller-component-roll"></span></p>
    </fieldset>
  </form>
</div>
