@import '../../globalstyles/variables.scss';

.map-with-pins-editor {
  position: relative;

  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .pin {
    z-index: 2;
  }
}

.map-with-pins-image-overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.map-with-pins-table tbody tr:hover {
  background-color: $light-black;
}
