<div class="layout">
  <div class="full">
    <h1>Encounters</h1>
    <% if modify_encounter %>
      <a class="button" href="<%= new_encounter_path %>">Create</a>
    <% end %>
    <ul>
      <% @encounters.each do |encounter| %>
        <li>
          <a href=<%= encounter_path encounter %>>
            <div class="card card-link">
              <h2><%= encounter.name %></h2>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>