<div class="layout">
  <div class="full">
    <h1>Magic Items</h1>
    <% if modify_magic_item %>
      <a class="button" href=<%= new_magic_item_path %>>Create</a>
    <% end %>
    <ul>
      <li>
        <% @magic_items.each do |magic_item| %>
          <%= render partial: 'shared/item_with_token', locals: { description: description(magic_item), image_alt_text: image_alt_text(magic_item), image_url: image_url(magic_item), item_path: magic_item_path(magic_item), sub_description: nil, title: magic_item.name } %>
        <% end %>
      </li>
    </ul>
  </div>
</div>