<div class="layout">
  <div class="full">
    <h1>New Magic Item</h1>
    <a class="button" href="<%= magic_items_path %>">Back</a>
    <%= render partial: 'form', locals: { magic_item: @magic_item } %>
  </div>
</div>