@import '../../globalstyles/variables.scss';

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.modal-close-button {
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: $small-spacing;
  top: $small-spacing;
  width: 24px;
}

.modal-container {
  background-color: $card-background;
  border-radius: $border-radius;
  box-shadow: $box-shadow-light;
  box-sizing: border-box;
  left: calc(50% - 1200px / 2);
  position: absolute;
  top: 100px;
  width: 1200px;
}

.modal-content {
  max-height: 700px;
  padding: $standard-spacing;
  overflow-y: scroll;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* Hide scrollbar for IE, Edge and Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.modal-header {
  padding: $standard-spacing;
  position: relative;
}
