@import '../../globalstyles/variables.scss';

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.modal-close-button {
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: $spacing-small;
  top: $spacing-small;
  width: 24px;
}

.modal-container {
  background-color: $color-card-background;
  border-radius: $border-radius;
  box-shadow: $shadow-base;
  box-sizing: border-box;
  left: calc(50% - 1200px / 2);
  position: absolute;
  top: 75px;
  width: 1200px;
}

.modal-content {
  max-height: 600px;
  padding: $spacing-standard;
  overflow-y: scroll;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* Hide scrollbar for IE, Edge and Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.modal-header {
  padding: $spacing-standard;
  position: relative;
}
