@import "../shared/variables.scss";

.button {
  background-color: $true-white;
  border: none;
  border-radius: $border-radius;
  box-shadow: $box-shadow-light;
  color: $light-black;
  cursor: pointer;
  display: inline-block;
  font-size: $body-text-size;
  font-weight: 700;
  margin: 0;
  outline: none;
  padding: $small-spacing $standard-spacing;
}

.button-constructive {
  background-color: $green;
  color: $true-white;
}

.button-destructive {
  background-color: $red;
  color: $true-white;
}