@import '../shared/variables';

.card {
  background-color: $dark-black;
  border-radius: $border-radius;
  box-shadow: $box-shadow-light;
  box-sizing: border-box;
  margin: $standard-spacing 0;
  padding: $standard-spacing;
  position: relative;
  transition: box-shadow $hover-transition;

  &.card-with-icon {
    display: flex;

    .token {
      border-radius: $border-radius-circle;
      height: $token-size-small;
      margin-right: $standard-spacing;
      width: $token-size-small;
    }
  }
}

.card-link {
  text-decoration: none;

  .card:hover {
    box-shadow: $box-shadow-heavy;
  }
}
