.dice-roller-component {
  bottom: 20px;
  left: 20px;
  position: fixed;

  fieldset {
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  input {
    margin: 0;
  }

  p {
    margin: 0 0 0 20px;
  }
}
