@import '../shared/variables';

.map-with-pins {
  display: flex;
  position: relative;

  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}

.map-with-pins-content {
  width: 1000px;
}

.map-with-pins-editor {
  display: flex;
}

.map-with-pins-sidebar {
  background-color: $dark-black;
  border-radius: $border-radius;
  box-shadow: $box-shadow-light;
  box-sizing: border-box;
  margin-right: $standard-spacing;
  width: 200px - $standard-spacing;

  h2 {
    padding: 0 $small-spacing;
  }
}

.map-with-pins-sidebar-item {
  padding: $small-spacing;

  &:hover {
    background-color: $light-black;
  }
}
