<div class="layout">
  <div class="full">
    <h1>New NPC</h1>
    <a class="button" href="<%= npcs_path %>">Back</a>
    <%= render partial: "shared/creature-form", locals: { creature: @npc, form_url: npcs_path } %>
  </div>
</div>