<div class="layout">
  <div class="full">
    <h1>New Campaign</h1>
    <a class="button" href="<%= campaigns_path %>">Back</a>
    <%= render partial: 'form', locals: { campaign: @campaign, form_url: campaigns_path } %>
  </div>
</div>