/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  background-color: #151518;
  color: #cacaca;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input, select, textarea {
  background-color: #0c0c0d;
  border: solid #0c0c0d 1px;
  box-shadow: inset 0 0 5px #000000;
  color: #ffffff;
  margin-bottom: 10px;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  align-items: center;
  background-color: #0c0c0d;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #000000;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

nav ul {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 60px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #ffffff;
}

strong {
  color: #ffffff;
}

table {
  background-color: #0c0c0d;
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0 0 5px #000000;
  margin: 20px 0;
  width: 100%;
}

table th {
  border-bottom: 1px #151518 solid;
  color: #ffffff;
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
}

table td {
  border-bottom: 1px #151518 solid;
  padding: 10px;
}

table tr:last-of-type td {
  border: none;
}

.button_to {
  display: inline-block;
}

.button {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #000000;
  color: #151518;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  outline: none;
  padding: 10px 20px;
}

.button-constructive {
  background-color: #64b13b;
  color: #ffffff;
}

.button-destructive {
  background-color: #83261a;
  color: #ffffff;
}

.card {
  background-color: #0c0c0d;
  border-radius: 5px;
  box-shadow: 0 0 5px #000000;
  box-sizing: border-box;
  margin: 20px 0;
  padding: 20px;
  position: relative;
}

.card-with-icon {
  display: flex;
}

.card-with-icon img {
  margin-right: 20px;
}

.card.card-link:hover {
  box-shadow: 0 10px 10px #000000;
}

.pet-and-associate-link {
  display: block;
}

.pet-and-associate-link:hover {
  background-color: #151518;
}

.pet-and-associate-link-content {
  align-items: center;
  display: flex;
  padding: 8px;
  width: 100%
}

.pet-and-associate-link-content .token {
  margin-right: 20px;
  height: 100px;
  width: 100px;
}

.sheet-header {
  display: flex;
  position: relative;
}

.sheet-header img {
  margin-right: 20px;
}

.sheet-header-settings {
  position: absolute;
  right: 0;
  top: 0;
}

.sheet-table-data-bolded {
  color: #64b13b;
  font-weight: 900;
}

.column {
  width: 470px;
}

.full {
  width: 100%;
}

.layout {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  width: 1000px;
}

.toggle-content {
  height: 0;
  visibility: hidden;
}

.toggle-content.toggle-content-open {
  height: auto;
  visibility: visible;
}

.toggle-header {
  cursor: pointer;
}

.toggle-header svg {
  margin-right: 8px;
  vertical-align: middle;
}

.toggle-item:not(:last-of-type) {
  border-bottom: 1px #151518 solid;
}

.token {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}