@import '../../globalstyles/variables.scss';

.tag {
  align-items: center;
  background-color: $dark-black;
  border: $border-standard;
  border-radius: $standard-spacing;
  box-shadow: $box-shadow-light;
  display: flex;
  height: $standard-spacing * 2;
  padding: $small-spacing * 2;
  box-sizing: border-box;

  &:not(:last-of-type) {
    margin-right: $small-spacing;
  }
  
  span {
    color: $true-white;
    font-size: $body-text-size;
    font-weight: 900;
    line-height: 1;
    margin-right: $small-spacing;
  }

  button {
    background: transparent;
    border: none;
    color: $true-white;
    cursor: pointer;
    font-size: $small-text-size;
    padding: 0;
    margin: 0;
  }
}
