@import '../shared/variables';

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.modal-content {
  background-color: $dark-black;
  border-radius: $border-radius;
  box-shadow: $box-shadow-light;
  box-sizing: border-box;
  left: calc(50% - 1200px / 2);
  max-height: 800px;
  overflow-y: scroll;
  padding: $standard-spacing;
  position: absolute;
  top: 100px;
  width: 1200px;
}
