<div class="layout">
  <div class="full">
    <h1>New Location</h1>
    <a class="button" href="<%= locations_path %>">Back</a>
    <%= render partial: 'form', locals: { location: @location } %>
  </div>
</div>